{% extends "base.html" %}

{% block title %} Blogiduz | Login {% endblock title %}

{% block content %}
	{% if from_newpost %}
		<div class="alert alert-warning">
			<b>Warning! </b>You must be logged in to post. If you don't have a account
			come on <a href="/signup" class="alert-link">Sign Up</a>!
		</div>
	{% endif %}
	<h1>Login</h1>
	<form method="post">
		<table>
			<tr>
				<td>
					Username
				</td>
				<td>
					<input type="text" name="username" value="{{username}}">
				</td>
			</tr>

			<tr>
				<td>
					Password
				</td>
				<td>
					<input type="password" name="password">
				</td>
			</tr>
		</table>
		<p style="color:red;">{{login_error}}</p>
		<input type="submit">
	</form>
{% endblock content %}
